<h1>Hello, Rails!!!</h1>
<p>This is my first new Project in Rails. The "Blog." It's so nice to meet an old reliable friend again. With some major improvements and really kewl tewls!!!   Shazzam!!!</p>
<br>
<h2>Also using Git!!</h2>
<br>
<h3>And a bunch of RubyGems.</h3>
<br>
<p>Along with this I am using the Sublime Text Editer 2. This is a a really nice editor. Autocompletion for code and error checking. Nice. </p>
<br>
Lots of new utilities, too. 
<br><br>
<h3>Looking forward to having some great fun!!</h3>

<%= link_to "My Blog", controller: "posts" %>